# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [ ]:
!pip install selenium

In [5]:
from selenium import webdriver

# Passo 1: Abrir o navegadora
navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

In [2]:
import pandas as pd

# Passo 2: Importar a base de dados
tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [13]:
# Passo 3: Pesquisar o preço do produto
for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    print(produto)
    produto = produto.replace("ó", "o").replace("ã", "a").replace("ç", "c").replace("ú", "u").replace("é", "e").replace("á", "a")

    link = f"https://www.melhorcambio.com/{produto}-hoje"
    navegador.get(link)
    
# Passo 4: Atualizar o preço na base de dados
    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)
    
display(tabela)

Milho
0.00
Soja
0.00
Boi
0.00
Petróleo
391.47
Algodão
0.00
Açúcar
0.00
Café
0.00
Ouro
324.38
Trigo
0.00
Tilápia
0.00

    Produto  Preço Ideal Preço Atual  Comprar
0     Milho        85.32         0.0      NaN
1      Soja       163.59         0.0      NaN
2       Boi       282.20         0.0      NaN
3  Petróleo       424.37      391.47      NaN
4   Algodão       497.76         0.0      NaN
5    Açúcar       136.23         0.0      NaN
6      Café      1092.87         0.0      NaN
7      Ouro       321.77      324.38      NaN
8     Trigo      1549.11         0.0      NaN
9   Tilápia         9.05         0.0      NaN

In [39]:
# Passo 5: Decidir quais produtos comprar
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]: 
display(tabela)

#tabela.to_excel("commodities_atualizado.xlsx", index=False)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().